<section class="call2faAnswer">
  <div class="container">
    <div class="call2faAnswer__inner">
      <div class="call2faAnswer__answer">
        <h2><span>чаво:</span></h2>

        <details>
          <summary>1. Какая скорость от нажатия кнопки до получения звонка?</summary>
          <p>Something small enough to escape casual notice.</p>
        </details>

        <details>
          <summary>2. Если ложится сервер, то звонок не приходит?</summary>
          <p>Something small enough to escape casual notice.</p>
        </details>

        <details>
          <summary>3.  Какие есть условия по голосовому сообщению? </summary>
          <p>Something small enough to escape casual notice.</p>
        </details>
      </div>

      <div class="call2faAnswer__form">
          <h4>Получить консультацию</h4>
          <form data-form-footer>
            <div class="input">
              <svg>
                <use xlink:href="img/sprite/sprite.svg#user"></use>
              </svg>
              <input type="text" name="name" placeholder="Имя">
            </div>

            <div class="input">
              <svg>
                <use xlink:href="img/sprite/sprite.svg#phone"></use>
              </svg>
              <input id="phone-mask-footer" type="text" name="phone" placeholder="Телефон" maxlength="17">
            </div>
            <button type="submit" class="btn">Отправить</button>
          </form>
      </div>
    </div>
  </div>
</section>
