<section class="call2faCase">
  <div class="container">
    <div class="call2faCase__inner">
      <h2><span>Реальные цифры</span> <small>реальных кейсов</small></h2>

      <div class="call2faSlider">
        <div class="call2faCase__slider">

          <div class="call2faSlider__item">
            <div class="call2faSlider__inner">
              <div class="call2faSlider__count">
                <span>1</span>/5
              </div>

              <div class="call2faCase__item">
                <div class="call2faCase__item--img1">
                  <img src="img/call2fa/slider/pills.png" alt="image1">
                </div>
                <div class="call2faCase__item--left">
                  <strong>МИС (мед. информ. система)</strong>
                  <ul>
                    <li>Сэкономили больше 3 раз (220 000 грн/мес)</li>
                    <li>SMS у клиента осталось как резерв</li>
                    <li>Выбор звонка 90%, выбор СМС 10% — статистика клиента</li>
                  </ul>
                </div>
                <div class="call2faCase__item--right">
                  <p>
                    <strong>Использовали:</strong>
                    верификацию SMS для входа, регистрации смены номера и подтверждения записи к врачу.
                    Стоимость SMS = 32 коп. за запрос
                    1 000 000 запросов в месяц <b>= 320 000 грн.</b>
                  </p>

                  <p>
                    <strong>Подключили::</strong>
                    верификацию звонком.
                    Стоимость = 10 коп. за запрос
                    1 000 000 запросов в месяц <b>= 100 000 грн</b>
                  </p>
                </div>
                <div class="call2faCase__item--img2">
                  <img  src="img/call2fa/slider/vaccine.png" alt="image2">
                </div>
              </div>

            </div>
          </div>

          <div class="call2faSlider__item">
            <div class="call2faSlider__inner">
              <div class="call2faSlider__count">
                <span>2</span>/5
              </div>

              <div class="call2faCase__item">
                <div class="call2faCase__item--img1">
                  <img src="img/call2fa/slider/money.png" alt="image1">
                </div>
                <div class="call2faCase__item--left">
                  <strong>Платежная система</strong>
                  <ul>
                    <li>Сэкономили больше 2 раз (57 000 грн/мес)</li>
                  </ul>
                </div>
                <div class="call2faCase__item--right">
                  <p>
                    <strong>Использовали:</strong>
                    верификацию SMS для перевода средств.
                    Стоимость SMS = 34 коп. за запрос
                    300 0000 запросов в месяц <b>= 102 000 грн.</b>
                  </p>

                  <p>
                    <strong>Подключили::</strong>
                    верификацию звонком.
                    Стоимость = 15 коп. за запрос
                    300 000 запросов в месяц <b>= 45 000 грн</b>
                  </p>
                </div>
                <div class="call2faCase__item--img2">
                  <img  src="img/call2fa/slider/hand.png" alt="image2">
                </div>
              </div>

            </div>
          </div>


          <div class="call2faSlider__item">
            <div class="call2faSlider__inner">
              <div class="call2faSlider__count">
                <span>3</span>/5
              </div>

              <div class="call2faCase__item">
                <div class="call2faCase__item--img1">
                  <img src="img/call2fa/slider/flower.png" alt="image1">
                </div>
                <div class="call2faCase__item--left">
                  <strong>Микрокредитование</strong>
                  <ul>
                    <li>Сэкономили больше 2 раз (34 000 грн/мес)</li>
                    <li>SMS у клиента осталось как резерв</li>
                  </ul>
                </div>
                <div class="call2faCase__item--right">
                  <p>
                    <strong>Использовали:</strong>
                    верификацию SMS для входа, регистрации, восстановления пароля, подписи договора.
                    Стоимость SMS = 32 коп. за запрос
                    200 0000 запросов в месяц <b>= 64 000 грн.</b>
                  </p>

                  <p>
                    <strong>Подключили::</strong>
                    верификацию звонком.
                    Стоимость = 15 коп. за запрос
                    200 000 запросов в месяц <b>= 30 000 грн</b>
                  </p>
                </div>
                <div class="call2faCase__item--img2">
                  <img  src="img/call2fa/slider/car.png" alt="image2">
                </div>
              </div>

            </div>
          </div>


          <div class="call2faSlider__item">
            <div class="call2faSlider__inner">
              <div class="call2faSlider__count">
                <span>4</span>/5
              </div>

              <div class="call2faCase__item">
                <div class="call2faCase__item--img1">
                  <img src="img/call2fa/slider/card.png" alt="image1">
                </div>
                <div class="call2faCase__item--left">
                  <strong>Супермаркет</strong>
                  <ul>
                    <li>Сэкономили больше 2 раз (45 000 грн/мес)</li>
                  </ul>
                </div>
                <div class="call2faCase__item--right">
                  <p>
                    <strong>Использовали:</strong>
                    верификацию SMS для программы лояльности.
                    Стоимость SMS = 33 коп. за запрос
                    250 0000 запросов в месяц <b>= 82 500 грн.</b>
                  </p>

                  <p>
                    <strong>Подключили::</strong>
                    верификацию звонком.
                    Стоимость = 15 коп. за запрос
                    250 000 запросов в месяц <b>= 37 500 грн</b>
                  </p>
                </div>
                <div class="call2faCase__item--img2">
                  <img  src="img/call2fa/slider/cart.png" alt="image2">
                </div>
              </div>

            </div>
          </div>


          <div class="call2faSlider__item">
            <div class="call2faSlider__inner">
              <div class="call2faSlider__count">
                <span>5</span>/5
              </div>

              <div class="call2faCase__item">
                <div class="call2faCase__item--img1">
                  <img src="img/call2fa/slider/fueling.png" alt="image1">
                </div>
                <div class="call2faCase__item--left">
                  <strong>АЗС</strong>
                  <ul>
                    <li>Сэкономили больше 2 раз (79 900 грн/мес)</li>
                  </ul>
                </div>
                <div class="call2faCase__item--right">
                  <p>
                    <strong>Использовали:</strong>
                    верификацию SMS для программы лояльности, вход в кабинет, смены номера.
                    Стоимость SMS = 32 коп. за запрос
                    470 0000 запросов в месяц <b>= 150 400 грн.</b>
                  </p>

                  <p>
                    <strong>Подключили::</strong>
                    верификацию звонком.
                    Стоимость = 15 коп. за запрос
                    470 000 запросов в месяц <b>= 70 500 грн</b>
                  </p>
                </div>
                <div class="call2faCase__item--img2">
                  <img  src="img/call2fa/slider/canister.png" alt="image2">
                </div>
              </div>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</section>
