<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#home" class="logo"><!-- class active -->
        <span></span>
        <div class="logo__shadow"></div>
      </a>

      <nav class="menu">
        <ul class="menu__header">
          <li class="menu__header--login"><a href="javascript:void(0)">Личный кабинет</a></li>
          <li class="menu__header--nav" data-menu-btn>
            <!-- active -->
            <svg>
              <use xlink:href="img/sprite/sprite.svg#menu"></use>
            </svg>
            <svg>
              <use xlink:href="img/sprite/sprite.svg#close"></use>
            </svg>
          </li>
        </ul>

        <div class="menu__inner" data-menu-inner>
          <!-- active -->
          <ul class="nav" data-nav>
            <!-- <li><a href="#home" class="active">Главная</a></li> -->
            <li><a href="#service" class="active">Сервисы</a></li>
            <li><a href="#contact">Контакты</a></li>
            <li><a href="javascript:void(0)" class="nav__footer">Договор-оферта</a></li>
            <li><a href="javascript:void(0)" class="nav__footer">API</a></li>
            <li><a href="javascript:void(0)" class="nav__footer">Политика конфиденциальности</a></li>
          </ul>

          <ul class="lang">
            <li><a href="javascript:void(0)">ua</a></li>
            <li><a href="javascript:void(0)" class="active">ru</a></li>
            <li><a href="javascript:void(0)">en</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<div class="nav__bg" data-menu-bg></div><!-- active -->
