<section class="call2faPrice">
  <div class="container">
    <div class="call2faPrice__inner">
      <img class="call2faPrice__img" src="img/call2fa/price.png" alt="price">
      <h2>
        <span>Стоимость</span> <small>услуги авторизации по звонку</small>
      </h2>

      <div class="call2faPrice__table">
        <div class="call2faPrice__table--row">
            <div class="call2faPrice__table--col">Цена одной авторизации, грн.</div>
            <div class="call2faPrice__table--col">0,15</div>
            <div class="call2faPrice__table--col">0,14</div>
            <div class="call2faPrice__table--col">0,13</div>
            <div class="call2faPrice__table--col">0,12</div>
            <div class="call2faPrice__table--col">0,11</div>
            <div class="call2faPrice__table--col">0,10</div>
        </div>
        <div class="call2faPrice__table--row">
          <div class="call2faPrice__table--col">Количество авторизаций в месяц, тыс.</div>
          <div class="call2faPrice__table--col">< 500</div>
          <div class="call2faPrice__table--col">500 - 600</div>
          <div class="call2faPrice__table--col">600 - 700</div>
          <div class="call2faPrice__table--col">700 - 800</div>
          <div class="call2faPrice__table--col">800 - 900</div>
          <div class="call2faPrice__table--col">> 900</div>
        </div>
      </div>
    </div>
  </div>
</section>
