<div class="call2faDetails">
  <div class="call2faDetails__bg">
    <div class="container">
      <div class="call2faDetails__inner">

        <div class="call2faDetails__items">
          <div class="call2faDetails__item">
            <img src="img/call2fa/icon_png/1.png" alt="icon">
            <h3>Стоимость</h3>
            <p>в 2-4 раза дешевле SMS или Viber (10-15 коп. за 1 вер-цию)</p>
          </div>

          <div class="call2faDetails__item">
            <img src="img/call2fa/icon_png/2.png" alt="icon">
            <h3>Скорость и гарантия</h3>
            <p>звонок приходит всегда и быстрее, чем СМС</p>
          </div>

          <div class="call2faDetails__item">
            <img src="img/call2fa/icon_png/3.png" alt="icon">
            <h3>Доступность</h3>
            <p>мессенджеры и банкингы есть не у всех, а номер - у всех</p>
          </div>

          <div class="call2faDetails__item">
            <img src="img/call2fa/icon_png/4.png" alt="icon">
            <h3>Безопасность</h3>
            <p>защита от спам атак и сервисов по генерации смс</p>
          </div>

          <div class="call2faDetails__item">
            <img src="img/call2fa/icon_png/5.png" alt="icon">
            <h3>Удобство</h3>
            <p>автоматическое заполнение цифр или нажатие на кнопку 1</p>
          </div>

          <div class="call2faDetails__item">
            <img src="img/call2fa/icon_png/6.png" alt="icon">
            <h3>Рост конверсии</h3>
            <p>на 10-20% от попыток входа до авторизации за счет простоты</p>
          </div>
        </div>

        <a href="#details" class="call2faDetails__arrow">
          <svg>
            <use xlink:href="img/call2fa/sprite/sprite.svg#scroll_just_pointer"></use>
          </svg>
        </a>

        <section class="call2faDetails__road" id="details">
          <h2><span>Что такое</span> “Call2FA” <small>или авторизация по звонку?</small></h2>
          <p>Верификация (аутентификация, авторизация) по номеру телефона на данный момент — самый распространенный способ подтверждения контактных данных пользователей любых интернет-сервисов, мобильных приложений.</p>

          <div class="call2faDetails__road--inner">
            <div class="call2faDetails__road--item">
              <div class="call2faDetails__road--item--img">
                <img src="img/call2fa/block_login_ru.png" alt="img login">
              </div>
              <div class="call2faDetails__road--item--list">
                <strong>Форма для:</strong>
                <ol>
                  <li>вход / регистрация</li>
                  <li>забыли пароль / смена номера в лк</li>
                  <li>подтверждающие действия (подпись, оплата, перевод средств, списание бонусов)</li>
                  <li>другое</li>
                </ol>
              </div>
              <div class="call2faDetails__road--item--arrow">
                <div class="call2faDetails__road--item--arrow--img">
                  <img src="img/call2fa/arrow.png" alt="img arrow">
                </div>
                <span>Входящий звонок</span>
              </div>
            </div>

            <img src="img/call2fa/block_iphone_ru.png" alt="img iphone">

            <div class="call2faDetails__road--item">
              <div class="call2faDetails__road--item--arrow call2faDetails__road--item--arrow--two">
                <div class="call2faDetails__road--item--arrow--img">
                  <img src="img/call2fa/arrow.png" alt="img arrow">
                </div>
                <span>Верификация (4 типа)</span>
              </div>
              <div class="call2faDetails__road--item--img">
                <img src="img/call2fa/block_complite_ru.png" alt="img complite">
              </div>
              <div class="call2faDetails__road--item--list call2faDetails__road--item--list--two">
                <strong>4 типа верификации:</strong>
                <ol>
                  <li>подтверждение входа нажатием на 1</li>
                  <li>ввод последних 4 цифр</li>
                  <li>ввод надиктованного кода</li>
                  <li>ответ да/нет</li>
                </ol>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
