.call2faEvidence{
  background: #F3F5FF;
  padding: 0 0 22px;

  &__inner{
    display: flex;
    flex-wrap: wrap;
  }

  & h2{
    width: 100%;
    margin-top: 40px;
    @media(min-width: 960px){
      margin-top: 60px;
    }
  }

  &__item{
    position: relative;
    padding-left: 58px;
    margin-bottom: 18px;
    @media(min-width: 480px){
      min-height: 84px;
    }
    @media(min-width: 768px){
      min-height: 100px;
      padding-left: 80px;
    }
    @media(min-width: 960px){
      min-height: 110px;
      padding-left: 100px;
    }

    &--img{
      position: absolute;
      left: 0;
      right: 0;
      width: 50px;
      height: 50px;
      @media(min-width: 768px){
        left: 20px;
      }
      @media(min-width: 960px){
        width: 70px;
        height: 70px;
      }

      & > svg{
        position: absolute;
        width: 26px;
        height: 32px;
        @media(min-width: 960px){
          width: 42px;
          height: 42px;
        }
      }

      & > img{
        position: absolute;
        width: 32px;
        height: 32px;
        right: 0;
        @media(min-width: 960px){
          width: 42px;
          height: 42px;
        }
      }
    }


    & > h4{
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      @media(min-width: 768px){
        font-size: 14px;
      }
      @media(min-width: 960px){
        font-size: 18px;
      }
    }

    & > p{
      font-weight: normal;
      font-size: 10px;
      line-height: 130%;
      @media(min-width: 768px){
        font-size: 14px;
      }
      @media(min-width: 960px){
        font-size: 16px;
      }
    }

    &--inner{
      @media(min-width: 480px){
        width: 100%;
        column-count: 2;
        column-width: 50%;
        column-gap: 25px;
      }
    }
  }
}
