<section class="call2faEvidence">
  <div class="container">
    <div class="call2faEvidence__inner">
      <h2>
        <span>10 доказательств</span>
        <small>почему Rikkicom - лучшее решение</small>
      </h2>

      <div class="call2faEvidence__item--inner">


        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#1"></use>
            </svg>
            <img src="img/call2fa/icon_png/7.png" alt="image">
          </div>

          <h4>Номера под клиента</h4>
          <p>номера используются не из общего пула, а для каждого клиента свои</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#2"></use>
            </svg>
            <img src="img/call2fa/icon_png/8.png" alt="image">
          </div>

          <h4>Надежность</h4>
          <p>1 клиент = 3 оператора, 2 базы данных, 3 гео разнесенных кластерных сервера</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#3"></use>
            </svg>
            <img src="img/call2fa/icon_png/9.png" alt="image">
          </div>

          <h4>Экономия</h4>
          <p>в зависимости от объема верификаций стоимость верификации уменьшается</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#4"></use>
            </svg>
            <img src="img/call2fa/icon_png/10.png" alt="image">
          </div>

          <h4>Скорость</h4>
          <p>среднее время верификации пользователя через сервис Rikkicom 8 секунд</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#5"></use>
            </svg>
            <img src="img/call2fa/icon_png/11.png" alt="image">
          </div>

          <h4>Кабинет со статистикой</h4>
          <p>компания получает доступ к статистике по верификации</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#6"></use>
            </svg>
            <img src="img/call2fa/icon_png/12.png" alt="image">
          </div>

          <h4>API и SDK</h4>
          <p>удобный API и помощь в интеграции, также упрощенное API для 1С</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#7"></use>
            </svg>
            <img src="img/call2fa/icon_png/13.png" alt="image">
          </div>

          <h4>7 лет опыта </h4>
          <p>только качественный сервис для клиента и накопленные нами знания</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#8"></use>
            </svg>
            <img src="img/call2fa/icon_png/14.png" alt="image">
          </div>

          <h4>Что-то пошло не так</h4>
          <p>система сигнализирует при странном поведении сервиса</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#9"></use>
            </svg>
            <img src="img/call2fa/icon_png/15.png" alt="image">
          </div>

          <h4>65 стран мира</h4>
          <p>мы не ограничиваемся территорией нашей страны, мы открыты для всего мира</p>
        </div>

        <div class="call2faEvidence__item">
          <div class="call2faEvidence__item--img">
            <svg>
              <use xlink:href="img/call2fa/sprite/sprite.svg#10"></use>
            </svg>
            <img src="img/call2fa/icon_png/16.png" alt="image">
          </div>

          <h4>Мы из Украины</h4>
          <p>мы - украинцы, наши сервера находятся в стране клиента </p>
        </div>
      </div>

    </div>
  </div>
</section>
