<!-- Контент слайдера в js-->

<section class="call2faVerification">
  <div class="container">
    <div class="call2faVerification__inner">
      <h2><span>Типы верификации</span> <small>видео в действии</small></h2>

      <div class="call2faSlider">
        <div class="call2faVerification__slider">

        </div>

        <div class="call2faSlider__control" id="customize-controls">
          <div class="prev" aria-controls="customize" tabindex="-1" data-controls="prev"></div>
          <div class="next" aria-controls="customize" tabindex="-1" data-controls="next"></div>
        </div>
      </div>
    </div>
  </div>
</section>
