<section class="service" id="service">
  <div class="container">
    <div class="service__inner">
      <div class="service__header">
        <h2>Сервисы и преимущества платформы Rikkicom</h2>
        <div class="service__header--img">
          <img src="img/block.png" alt="block">
        </div>
      </div>

      <ul class="service__list">
        <li>
          <a href="javscript:void(0)">
            <h3><span>Верификация<br> входящим звонком (Call2FA)</span></h3>
          </a>

          <ul>
            <li>в 2-4 раза дешевле за СМС и Viber</li>
            <li>в 65 странах мира</li>
            <li>подтверждение по кнопке 1</li>
            <li>подтверждение по последним 4 цифрам</li>
            <li>подтверждение по начитке кода</li>
            <li>подтверждение по ответу пользователя (да/нет)</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Автообзвон, автоинформирование</span></h3>
          </a>

          <ul>
            <li>информирование с переменными и без</li>
            <li>информирование с выбором вариантов кнопкой / голосом</li>
            <li>автообзвон с соединением на сотрудника</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Искусственный интеллект</span></h3>
          </a>

          <ul>
            <li>распознавание речи украинского языка (Speech to Text)</li>
            <li>синтез речи (Text to Speech)</li>
            <li>разделение записи по спикерам (Diarization)</li>
            <li>расставление пунктуации</li>
            <li>фильтр нецензурной лексики</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Онлайн чат</span></h3>
          </a>

          <ul>
            <li>
              онлайн консультант с использованием анализа текста
            </li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Номера 65 стран мира</span></h3>
          </a>

          <ul>
            <li>прямые номера более 65 стран мира</li>
            <li>дешевые звонки с премиум качеством голоса</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Запись голосовых сообщений (IVR)</span></h3>
          </a>

          <ul>
            <li> прямые номера более 65 стран мира</li>
            <li>дешевые звонки с премиум качеством голоса</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>SMS, Viber, HLR рассылки</span></h3>
          </a>

          <ul>
            <li>проверка мобильных номеров на статус у операторов сотовой связи</li>
            <li>массовые СМС и Viber рассылки по уникальным ценам</li>
          </ul>
        </li>


        <li>
          <a href="javscript:void(0)">
            <h3><span>Номера Rikkicom</span></h3>
          </a>

          <ul>
            <li>стационарные SIP номера 16 городов Украины</li>
            <li>0800 с 333 каналами бесплатно</li>
            <li>мобильные многоканальные номера</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Виртуальная АТС с CRM</span></h3>
          </a>

          <ul>
            <li>неограниченные возможности настройки облачной АТС</li>
            <li>CRM система построенная на базе АТС</li>
            <li>интеграция с популярными CRM</li>
            <li>коробочная версия</li>
          </ul>
        </li>


        <li>
          <a href="javscript:void(0)">
            <h3><span>Коллтрекинг</span></h3>
          </a>

          <ul>
            <li>эффективность рекламных компаний</li>
            <li>оптимизация бюджета на рекламу</li>
          </ul>
        </li>

        <li>
          <a href="javscript:void(0)">
            <h3><span>Кнопка на сайт</span></h3>
          </a>

          <ul>
            <li>виджет обратного звонка</li>
            <li>увеличение конверсии с посетителя на сайте в звонок</li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</section>
