.modal{
  display: none;
  background: rgba(37, 22, 40, 0.5);
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 1000;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  padding: 50px 30px;

  &.active{
    display: flex;
    align-items:center;
    justify-content: center;

  }

  &__inner{
    display: block;
    background: #FFFFFF;
    border: 3px solid #F3F5FF;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 0 10px 0px rgba(200, 111, 229, 0.5);
    overflow-y: auto;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    padding: 10px 16px 30px;
    position: relative;
    z-index: -1;
    @media (orientation: landscape){
      height: 100%;
    }
    @media(min-width: 768px){
      padding: 28px 50px;
    }
    @media(min-width: 1024px){
      height: auto;
      padding: 28px 60px 40px;
    }

    &.complete{
      overflow: hidden;
      box-shadow: 1px 0px 18px 0px rgba(255, 116, 3, 0.5), 1px 0px 18px 0px rgba(255, 116, 3, 0.5) inset;

      .modal__complete{
        display: block;
      }
    }
  }


  &__close{
    display: flex;
    justify-content:flex-end;

    @media(min-width: 768px){
      margin-right: -28px;
    }

    & svg {
      width: 28px;
      height: 28px;
      opacity: 0.4;
      cursor: pointer;
      position: relative;
      z-index: 1002;

      & > use{
        pointer-events: none;
      }
    }
  }

  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 16px;
    @media(min-width: 480px){
      font-size: 18px;
    }
    @media(min-width: 1024px){
     font-size: 24px;
    }
  }

  &__input{
    position: relative;
    margin-bottom: 8px;
    @media(min-width: 480px){
      margin-bottom: 12px;
    }
    @media(min-width: 1024px){
     margin-bottom: 24px;
    }

    & span{
      display: none;
      position: absolute;
      top: -14px;
      color: #FF7403;
      font-size: 12px;
      line-height: 12px;
    }

    & svg{
      position:absolute;
      pointer-events: none;
      width: 36px;
      height: 42px;
      padding: 10px;
      left: 0;
      fill:#696871;
      @media(min-width: 1024px){
        width: 57px;
        height: 52px;
        padding: 14px;
      }
    }

    & input{
      font-family: 'Gilroy';
      border: 2px solid #F3F5FF;
      border-radius: 6px;
      color:#696871;
      font-size: 14px;
      line-height: 40px;
      width: 100%;
      padding-left: 36px;
      padding-right: 10px;
      -webkit-appearance: none;
      outline: 0;
      @media(min-width: 1024px){
        line-height: 52px;
        font-size: 20px;
        padding-left: 57px;
      }

      &::placeholder{
        font-family: 'Gilroy';
        color: #696871;
      }

      &:focus{
        border: 2px solid rgba(201, 115, 230, 0.5);
        outline: 0;

        & ~ svg{
          opacity: 1;
        }
      }


      &.invalid {
        border: 2px solid #FF7403;

        & ~ span{
          @media(min-width: 768px){
            display: block;
          }
        }
      }
    }

    &--mail{
      & svg {
        padding: 8px!important;
        @media(min-width: 1024px){
          padding: 12px!important;
        }
      }

      & input{
        &::placeholder{
          font-family: 'Gilroy';
          color: rgba(105, 104, 113, 0.5)!important;
        }
      }
    }
  }

  & textarea{
    font-family: 'Gilroy';
    border: 2px solid #F3F5FF;
    border-radius: 6px;
    color:#696871;
    font-size: 14px;
    line-height: 150%;
    width: 100%;
    resize: none;
    padding: 8px;
    min-height: 100px;
    margin-bottom: 20px;
    outline: 0;
    -webkit-appearance: none;
    @media(min-width: 480px){
      margin-bottom: 30px;
    }
    @media(min-width: 768px){
      font-size: 20px;
      margin-bottom: 40px;
    }
    @media(min-width: 1024px){
      font-size: 20px;
      margin-bottom: 60px;
    }

    &::placeholder{
      font-family: 'Gilroy';
      color: rgba(105, 104, 113, 0.5)!important;
    }

    &:focus{
      border: 2px solid rgba(201, 115, 230, 0.5);
      outline: 0;
    }
  }

  & .btn{
    margin: 0 auto;
  }

  &__complete{
    display: none;
    position: absolute;
    z-index: 1001;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 30px 0;
    background-color: white;
    background-image: linear-gradient(white, rgba(202, 116, 230, 0.5), white);


    &::after{
      content: '';
      position: absolute;
      z-index: -1;
      left:0;
      right: 0;
      bottom: 0;
      top: 20%;
      pointer-events: none;
      background-image: url('../img/call2fa/form_complete.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before{
      content: '';
      position: absolute;
      z-index: -1;
      left:0;
      right: 0;
      bottom: 0;
      top: 0;
      pointer-events: none;
      background-image: url('../img/bg1.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 200%;
      opacity: 0.2;
    }
  }
}
