<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__section_1">
        <div class="footer__logo"></div>
        <div class="footer__copy">
          © 2021 Rikkicom, Inc.
        </div>
      </div>

      <div class="footer__section_2">
        <div class="footer__contact"><a href="javascript:void(0)">+38 (044) 331-21-23</a></div>
        <div class="footer__contact"><a href="javascript:void(0)">sales@rikkicom.io</a></div>
      </div>

      <div class="footer__section_3">
        <div class="footer__social">
          <a href="javascript:void(0)">
            <svg>
              <use xlink:href="img/sprite/sprite.svg#linkedin"></use>
            </svg>
          </a>
          <a href="javascript:void(0)">
            <svg>
              <use xlink:href="img/sprite/sprite.svg#facebook"></use>
            </svg>
          </a>
        </div>

        <ul class="footer__menu">
          <li><a href="javascript:void(0)">Договор-оферта</a></li>
          <li><a href="javascript:void(0)">API</a></li>
          <li><a href="javascript:void(0)">Политика конфиденциальности</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
