<section class="call2faOther">
  <div class="container">
    <div class="call2faOther__inner">
      <h2><span>Кому ещё будет полезно</span> <small>заказать услугу авторизации по звонку</small></h2>

      <div class="call2faOther__scroll">
        <div class="call2faOther__scroll--inner">
          <div class="call2faOther__item">
            <img src="img/call2fa/icon_png/17.png" alt="image">
            <h4>Программам лояльности</h4>
            <p>(Бонус плюс, COLO, Власний рахунок, Panorama Club, Fishka)</p>
          </div>

          <div class="call2faOther__item">
            <img src="img/call2fa/icon_png/18.png" alt="image">
            <h4>Разработчикам ПО</h4>
            <p>(DotsPlatform, Wezom, SoftServe)</p>
          </div>

          <div class="call2faOther__item">
            <img src="img/call2fa/icon_png/19.png" alt="image">
            <h4>Банкам, финансовым и кредитным учреждениям</h4>
            <p>(Микрокредиты, Privat24, Monobank, Манивео, Dinero, ZeCredit)</p>
          </div>

          <div class="call2faOther__item">
            <img src="img/call2fa/icon_png/17.png" alt="image">
            <h4>Программам лояльности</h4>
            <p>(Бонус плюс, COLO, Власний рахунок, Panorama Club, Fishka)</p>
          </div>

          <div class="call2faOther__item">
            <img src="img/call2fa/icon_png/18.png" alt="image">
            <h4>Разработчикам ПО</h4>
            <p>(DotsPlatform, Wezom, SoftServe)</p>
          </div>

          <div class="call2faOther__item">
            <img src="img/call2fa/icon_png/19.png" alt="image">
            <h4>Банкам, финансовым и кредитным учреждениям</h4>
            <p>(Микрокредиты, Privat24, Monobank, Манивео, Dinero, ZeCredit)</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
