<div class="call2faPreview">
  <div class="container">
    <div class="call2faPreview__inner">
      <div class="call2faPreview__target">
        <img src="img/call2fa/target.png" alt="target">
        <p>«Цель пользователя — побыстрее начать пользование услугой или приобрести товар, а не длительно проходить верификацию»</p>
      </div>

      <h1>
        Упрости, ускорь, удешеви
        <span>верификацию пользователя с помощью</span>
        <strong>Call2FA Rikkicom</strong>
      </h1>

      <button class="btn" data-modal="form">Оставить заявку</button>

      <img class="call2faPreview__hero" src="img/call2fa/hero.png" alt="hero">
    </div>
  </div>
</div>
